{% extends theme %}

{% block title %}{{ "log_in"|trans }}{% endblock %}

{% block content_title %}{{ "log_in"|trans }}{% endblock %}

{% block menu %}{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path('login') }}" method="post" class="form">
        <div class="form-group">
            <label for="username">{{ "Username"|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">{{ "Password"|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control">
        </div>
            
        <input  type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
        >
            
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-sign-in-alt"></i> 
            {{ "log_in"|trans }}
        </button>
    </form>
{% endblock %}
