{% extends theme %}

{% block title %}{{ ("users_"~action)|trans }}{% endblock %}

{% block content_title %}{{ ("users_"~action)|trans }}{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button class="btn btn-primary" type="submit">
        <i class="fas fa-fw fa-save"></i>
        {{ "save"|trans }}
    </button>
    
{{ form_end(form) }}
{% endblock %}
