{% extends theme %}

{% block title %}{{ "Users"|trans }}{% endblock %}

{% block content_title %}{{ "Users"|trans }}{% endblock %}

{% block main %}
    <div class="card bg-light">
        <div class="card-body">
            <i class="fas fa-fw fa-info-circle"></i>
            {{ "users_help"|trans|raw }}
        </div>
    </div>
        
    <h2>{{ "users_add"|trans }}</h2>
    <a  class="btn btn-primary"
        href="{{ path('add-user') }}">
        <i class="fas fa-fw fa-plus"></i>
        {{ "add"|trans }}
    </a>
        
    <h2>{{ "users_list"|trans }}</h2>
    <div class="d-flex flex-row flex-wrap justify-content-between">  
        {% for user in users %}
            <div class="card text-center mb-1 flex-fill bg-light">
                <div class="card-header">
                    {{ user.username }}
                </div>
                <div class="card-body" style="flex: 0 0 auto;">
                    <a  class="btn btn-sm btn-secondary"
                        href="{{ path('edit-user', {id: user.id}) }}">
                        <i class="fa fa-edit"></i>
                        {{ "edit"|trans }}
                    </a>
                    <button class="btn btn-sm btn-danger"
                            onclick="modalCtl.confirmDelete('{{ "users_remove"|trans }} ?', '{{ path('remove-user', {id: user.id}) }}', '{{ "cancel"|trans }}', '{{ "ok"|trans }}', '{{ "remove"|trans }}');"
                            >
                        <i class="fa fa-trash-alt"></i>
                        {{ "remove"|trans }}
                    </button>
                </div>
                <div class="list-group list-group-flush">
                    {% for role in user.roles %}
                        <span class="list-group-item">
                            {% if role == "ROLE_ADMIN" %}
                                <i class="fas fa-fw fa-user-secret"></i>
                            {% else %}
                                <i class="fas fa-fw fa-user"></i>
                            {% endif %}
                            {{ role|trans }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
