{% extends theme %}

{% block title %}{{ ("parameters_list")|trans }}{% endblock %}

{% block content_title %}{{ ("parameters_list")|trans }}{% endblock %}

{% block main %}
    {% set ParameterClass = "Trehinos\\ConcertoBundle\\Entity\\Parameter::" %}
    <form action="{% if user is defined %}{{ path('save-user-parameters') }}{% else %}{{ path('save-parameters') }}{% endif %}" method="post" enctype="multipart/form-data">
        {% for parameter in parameters %}
            {% set htmlId = parameter.htmlId %}
            {% set name = parameter.name %}
            {% set type = parameter.type %}
            {% set value = user.userParameter(parameter.id) ?? parameter.value %}
            {% set args = parameter.args %}
            
            {% include "Concerto/Parameter/parameter.html.twig" %}
        {% endfor %}

        {% if parameters is not empty %}
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-fw fa-save"></i>
                {{ "save"|trans }}
            </button>
        {% else %}
            {{ "no_parameter"|trans }}
        {% endif %}
    </form>
{% endblock %}
