
{% import "Concerto/_humanize.twig" as humanize %}

<div class="form-group">
    <label for="{{ htmlId }}">{{ name|trans }}</label>
    {% if type == constant(ParameterClass~'TYPE_TEXT') %}
        <input {% if args is not null %}maxlength="{{ args }}"{% endif %}
                                                  type="text" name="{{ htmlId }}" id="{{ htmlId }}" value="{{ value }}" class="form-control">
    {% elseif type == constant(ParameterClass~'TYPE_RICHTEXT') %}
        <textarea class="form-control richtext"
                  name="{{ htmlId }}" id="{{ htmlId }}"
                  >{{ value }}</textarea>
    {% elseif type == constant(ParameterClass~'TYPE_NUMBER') %}
        {% if args is not null %}
            {% set args = args|split(";") %}
            {% set min = args[0] %}
            {% set max = args[1] ?? false %}
            {% set decimals = args[2] ?? 0 %}
        {% endif %}
        <input  {% if min is defined %}min="{{ min }}"{% endif %}
                {% if max is defined and max %}max="{{ max }}"{% endif %}
                {% if decimals is defined and decimals > 0 %}step="0.{% if decimals > 1 %}{% for i in 2..decimals %}0{% endfor %}{% endif %}1"{% endif %}
                type="number" name="{{ htmlId }}" id="{{ htmlId }}" value="{{ value }}" class="form-control">
    {% elseif type == constant(ParameterClass~'TYPE_INTEGER') %}
        {% if args is not null %}
            {% set args = args|split(";") %}
            {% set min = args[0] %}
            {% set max = args[1] ?? false %}
        {% endif %}
        <input  {% if min is defined %}min="{{ min }}"{% endif %}
                {% if max is defined and max %}max="{{ max }}"{% endif %}
                type="number" name="{{ htmlId }}" id="{{ htmlId }}" value="{{ value }}" class="form-control">
    {% elseif type == constant(ParameterClass~'TYPE_CHOICE') %}
        {% if args is not null %}
            {% set choices = args|split(";") %}
            <select class="form-control" id="{{ htmlId }}" name="{{ htmlId }}">
                {% for choice in choices %}
                    <option value="{{ loop.index }}" {% if loop.index == value %}selected{% endif %}>{{ choice }}</option>
                {% endfor %}
            </select>
        {% endif %}
    {% elseif type == constant(ParameterClass~'TYPE_ENTITY') %}
        {% if args is not null %}
            <select class="form-control" id="{{ htmlId }}" name="{{ htmlId }}">
                {% for choice in entityCollections[args] %}
                    <option value="{{ choice.id }}" {% if choice.id == value %}selected{% endif %}>{{ choice }}</option>
                {% endfor %}
            </select>
        {% endif %}
    {% elseif type == constant(ParameterClass~'TYPE_FILE') %}
        {% if args is not null %}
            {% set args = args|split(";") %}
            {% set mimetypes = args[0] %}
            {% set maxsize = args[1] ?? 0 %}
        {% endif %}
        <div class="d-flex flex-row flex-wrap justify-content-between">
            {% if value %}
                <div class="card flex-fill bg-light w-50">
                    <div class="card-header">
                        {{ "download_file"|trans }}
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <a  class="btn btn-dark"
                                href="{{ asset("files/"~value) }}" target="_blank">
                                <i class="fas fa-fw fa-download"></i>
                                {{ "download_file"|trans }}
                            </a>
                        </li>
                        <li class="list-group-item bg-light">
                            <small>
                                <em>{{ value }}</em>
                            </small>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <div class="card flex-fill bg-light">
                <div class="card-header">
                    {{ "change_file"|trans }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <input {% if args is not null %}accept="{{ mimetypes }}"{% endif %}
                                                                  type="file" name="{{ htmlId }}" id="{{ htmlId }}" class="form-control">
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <small>
                            <strong>{{ "max_size"|trans }}</strong> : {{ humanize.kbToSize(maxsize) }}<br>
                            <strong>{{ "types"|trans }}</strong> : {{ mimetypes }}
                        </small>
                    </li>
                    {% if value %}
                        <li class="list-group-item bg-light text-center">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-dark">
                                    <input type="checkbox" autocomplete="off" id="{{ htmlId }}-delete" name="{{ htmlId }}-delete">
                                    <i class="fas fa-times text-danger"></i>
                                    {{ "remove"|trans }}
                                </label>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% elseif type == constant(ParameterClass~'TYPE_IMAGE') %}
        {% if args is not null %}
            {% set args = args|split(";") %}
            {% set mimetypes = args[0] %}
            {% set maxsize = args[1] ?? 0 %}
        {% endif %}
        <div class="d-flex flex-row flex-wrap justify-content-between">
            {% if value %}
                <div class="card flex-fill bg-light w-50">
                    <div class="card-header">
                        {{ "preview_image"|trans }}
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <button class="btn btn-dark" style="max-width: 300px; max-height: 200px;" onclick='modalCtl.open("{{ "image_preview"|trans }}", "<a style=\"display: block; text-align: center;\" target=\"__blank\" href=\"{{ asset("files/"~value) }}\"><img src=\"{{ asset("files/"~value) }}\" alt=\"{{ value }}\" style=\"max-width: 100%; max-height: 600px;\"></a>", "xl");' type="button">
                                <img src="{{ asset("files/"~value) }}" alt="{{ value }}" style="max-width: 100%; max-height: 186px;">
                            </button>
                        </li>
                        <li class="list-group-item bg-light">
                            <small>
                                <em>{{ value }}</em>
                            </small>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <div class="card flex-fill bg-light justify-content-start">
                <div class="card-header">
                    {{ "change_file"|trans }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <input {% if args is not null %}accept="{{ mimetypes }}"{% endif %}
                                                                  type="file" name="{{ htmlId }}" id="{{ htmlId }}" class="form-control"
                                                                  onchange="$('#{{ htmlId }}-delete').val('false');"
                                                                  >
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <small>
                            <strong>{{ "max_size"|trans }}</strong> : {{ humanize.kbToSize(maxsize) }}<br>
                            <strong>{{ "types"|trans }}</strong> : {{ mimetypes }}
                        </small>
                    </li>
                    {% if value %}
                        <li class="list-group-item text-center bg-light">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-dark">
                                    <input type="checkbox" autocomplete="off" id="{{ htmlId }}-delete" name="{{ htmlId }}-delete">
                                    <i class="fas fa-times text-danger"></i>
                                    {{ "remove"|trans }}
                                </label>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>