
html, body, #content {
    height: 100%;
}

#main-container {
    height: 100%;
    padding-top: 64px;
    background: #eee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-bottom: 64px;
    overflow: auto;
}

#footer {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0px;
}

#footer .container {
    color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#content .alert p {
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    margin-top: 1em;
}

#modal .modal-header {
    padding: 0;
}

#modal .modal-title {
    padding: 6pt;
}

#modal .close {
    padding: 8pt;
    margin: 0;
}

#modal .modal-xl {
    width: 60%;
    max-width: 60%;
}

@media (max-width: 767.98px) {
    #modal .modal-xl {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

.card-muted {
    background: #f0f0f0;
}

label, .text-medium {
    font-weight: 600;
}

/** GLOBALS (move to global css file) */
#content .ck.ck-content {
    height: 12em;
    border-radius: 0 0 .25rem .25rem;
}

#content .ck-editor__top .ck-sticky-panel .ck-sticky-panel__content .ck-toolbar {
    border-radius: .25rem .25rem 0 0;
}