{% macro kbToSize(kilobyte) %}
    {% spaceless %}
        {% set megabyte = 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if kilobyte < megabyte %}
            {{ kilobyte|number_format(2, '.') ~ ' KB' }}
        {% elseif kilobyte < gigabyte %}
            {{ (kilobyte / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif kilobyte < terabyte %}
            {{ (kilobyte / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (kilobyte / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}