{% extends "Concerto/base.html.twig" %}

{% block css %}
    {% stylesheets
        'libs/bootstrap-4.1.0/css/bootstrap.min.css'
        output='assets/vendors-bs.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets
        'libs/fontawesome-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css'
        filter='cssrewrite'
        output='assets/vendors-fa.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block modal %}
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal">
                        <span><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% javascripts
        'libs/jquery-3.3.1.min.js'
        'libs/popper.js'
        'libs/bootstrap-4.1.0/js/bootstrap.min.js'
        'libs/ckeditor/ckeditor.js'
        'libs/ckeditor/translations/fr.js'
        output='assets/vendors-bs.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
        'libs/fontawesome-5.0.12/svg-with-js/js/fontawesome-all.min.js'
        output='assets/vendors-fa.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
        'app.js'
        output='assets/app.js'
    %}
    <script>
        var locale = "{{ locale }}";
    </script>
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
