<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path(menu['brand-route']) }}">
            <i class="fas fa-lg fa-{{ menu['brand-icon'] }}"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-navbar">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapse-navbar">
            <ul class="navbar-nav mr-auto">
                {% for item in menu.items %}
                    {% if (item.role is defined and is_granted(item.role)) or item.role is not defined %}
                        {% if item.dropdown is defined %}
                            <li class="nav-item dropdown
                                {% for dropdown_item in item.dropdown %}
                                    {% if route == dropdown_item.route %}active{% endif %}
                                {% endfor %}
                                ">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <i class="fas fa-fw fa-{{ item.icon }}"></i>
                                    {{ item.text|trans }}
                                </a>
                                <div class="dropdown-menu">
                                    {% for dropdown_item in item.dropdown %}
                                        {% if (dropdown_item.role is defined and is_granted(dropdown_item.role)) or dropdown_item.role is not defined %}
                                            <a class="dropdown-item {% if route == dropdown_item.route %}active{% endif %}" href="{{ path(dropdown_item.route) }}">
                                                <i class="fas fa-fw fa-{{ dropdown_item.icon }}"></i>
                                                {{ dropdown_item.text|trans }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item {% if route == item.route %}active{% endif %}">
                                <a class="nav-link" href="{{ path(item.route) }}">
                                    <i class="fas fa-fw fa-{{ item.icon }}"></i>
                                    {{ item.text|trans }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% if menu.user_options is defined %}
                <ul class="navbar-nav dropdown">
                    <li>
                        <a class="nav-link {% if route == menu.user_options['parameters-route'] %}active{% endif %}" href="{{ path(menu.user_options['parameters-route']) }}">
                            <i class="fas fa-fw fa-user-cog"></i>
                            {{ "users_parameters"|trans }}
                        </a>
                    </li>
                    <li class="nav-item dropdown {% if route in [menu.user_options['profile-route'], menu.user_options['password-route']] %}active{% endif %}">
                    <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-toggle="dropdown">
                        <i class="fas fa-fw fa-user"></i>
                        {% if menu.user_options.display_username %}
                            {{ app.user.username }}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item {% if route == menu.user_options['profile-route'] %}active{% endif %}" href="{{ path(menu.user_options['profile-route']) }}">
                            <i class="fas fa-fw fa-id-card"></i>
                            {{ "users_profile"|trans }}
                        </a>
                        <a class="dropdown-item {% if route == menu.user_options['password-route'] %}active{% endif %}" href="{{ path(menu.user_options['password-route']) }}">
                            <i class="fas fa-fw fa-lock"></i>
                            {{ "users_password"|trans }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path(menu.user_options['logout-route']) }}">
                            <i class="fas fa-fw fa-sign-out-alt text-danger"></i>
                            {{ "users_logout"|trans }}
                        </a>
                    </div>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>