{% extends "Concerto/bootstrap-base.html.twig" %}

{% block html %}
    {% block modal %}{{ parent() }}{% endblock %}
    <div id="menu">
        {% block menu %}
            {{ render(path("menu", {route: app.request.attributes.get('_route')})) }}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            <div class="footer-wrap bg-dark">
                <div class="container">
                    {# Feel free to edit this lines with your own credits #}
                    <span class="text-medium">Concerto</strong> 1.0</span>
                    <span class="text-muted">&copy; 2018 Trehinos</span>
                </div>
            </div>
        {% endblock %}
    </div>    
{% endblock %}