{% extends "Concerto/theme-base.html.twig" %}

{% block css %}
    {{ parent() }}
    {% stylesheets 'themes/crescendo.css' output='assets/theme-crescendo.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div id="main-container" class="container">
        {% if app.session.flashBag.peekAll() is not empty %}
            {% for type, messages in app.flashes %}
                <div class="alert alert-dismissible fade show alert-{{ type }}">
                    <button type="button" class="close" data-dismiss="alert">
                        <span><i class="fas fa-times"></i></span>
                    </button>
                    {% for message in messages %}
                        <p>
                            <i class="fas fa-fw{% if type == "info" %}
                                    fa-info-circle
                                {% elseif type == "warning" or type == "danger" %}
                                    fa-exclamation-triangle
                                {% elseif type == "success" or type == "primary" %}
                                    fa-check-circle
                                {% elseif type == "secondary" %}
                                    fa-bell
                                {% endif %}" role="alert"></i>
                            {{ message|trans }}
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        <h1 id="content-title">{% block content_title %}{% endblock %}</h1>
        {% block main %}{% endblock %}
    </div>
{% endblock %}
